<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Flask</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <script>
      function redirectToPage() {
        let acousticnessOption = document.getElementById('acousticness').value;
        let energyOption = document.getElementById('energy').value;
        let livenessOption = document.getElementById('liveness').value;
        window.location.href =
          '/data?acousticnessOption=' +
          acousticnessOption +
          '?energyOption=' +
          energyOption +
          '?livenessOption=' +
          livenessOption;
      }
    </script>

    <h1>Hello flask ppppp</h1>
    <form method="POST" action="/data">
      <h2>acousticness</h2>
      <select name="acousticness" id="acousticness">
        <option value=0.75>Option 1</option>
        <option value=0.75>Option 2</option>
        <option value=0.25>Option 3</option>
      </select>
      <h2>danceability</h2>
      <select name="danceability" id="acousticness">
        <option value=0.75>Option 1</option>
        <option value=0.75>Option 2</option>
        <option value=0.25>Option 3</option>
      </select>
      <h2>energy</h2>
      <select name="energy" id="energy">
        <option value=0.75>Option 1</option>
        <option value=0.75>Option 2</option>
        <option value=0.25>Option 3</option>
      </select>
      <h2>liveness</h2>
      <select name="liveness" id="acousticness">
        <option value=0.75>Option 1</option>
        <option value=0.75>Option 2</option>
        <option value=0.25>Option 3</option>
      </select>
      <h2>tempo</h2>
      <select name="tempo" id="acousticness">
        <option value=100>Option 1</option>
        <option value=200>Option 2</option>
        <option value=200>Option 3</option>
      </select>
      <h2>valence</h2>
      <select name="valence" id="acousticness">
        <option value=0.75>Option 1</option>
        <option value=0.75>Option 2</option>
        <option value=0.25>Option 3</option>
      </select>
      <h2>Search</h2>
      <button onclick="redirectToPage()">Go to Other Page</button>
    </form>
  </body>
</html>
